manifest {
  author = 'BCCDC-PHL: Tara Newman and Jessica Caleta'
  description = 'Nextflow pipeline for providing public health bioinfo.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}


def stringIFY(dir){

  fasta_dir_string = params.fasta_dir.toString() + '/*'

  return fasta_dir_string

}

params {

  // Boilerplate options
  profile = false
  help = false
  outdir = './results'
  input = "NO_FILE"
  name = false
  tracedir = "${params.outdir}/pipeline_info"
  all = false
  resp = false
  virus = false
  bact = false
  pathogen = "NO FILE"
  email  = "NO EMAIL INPUT"
  question = "NO QUESTION INPUT"
  question_file = "./questions/questions_file.txt"
  fun = false

  
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache) {
       conda.cacheDir = params.cache
     }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
  withLabel: largecpu {
    cpus = 8
  }
}

timeline {
  enabled = false
  file = "${params.tracedir}/bioinflow_timeline.html"
}
report {
  enabled = false
  file = "${params.tracedir}/bioinflow_report.html"
}
trace {
  enabled = false
  file = "${params.tracedir}/bioinflow_trace.txt"
}
dag {
  enabled = false
  file = "${params.tracedir}/bioinflow_dag.svg"
}
